.ToogleButton{
    display:flex;
    flex-flow: column ;
    justify-content: space-between;
    height: 24px;
    width: 21px;
    padding: 7px 0px 0px 0px;
    background:transparent;
    border:none;
    box-sizing: border-box;
    cursor: pointer;
    :focus{
        outline:none;
    }
    .ToggleButtonLine{
        width: 21px;
        height:3px;
        background-color: #303030;;
        line-height: 24px;
    }
}

