body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}


.terms-and-service{
    width: 100%;
    .header{

    }
    .terms-and-service-content{
        position: relative;
        margin:0 auto;
        margin-bottom: 30px;
        //max-width: 976px;
        text-align: center;
        padding:15px;
        h3{
            font-size: 24px;
            margin-top: 20px;
            margin-bottom: 10px;
            font-family: inherit;
            font-weight: 500;
            line-height: 1.1;
            color: inherit;
        }
        .inner-text{
            width: 66.66667%;
            //max-width: 976px;
            margin: 0 auto;
        }
    }
    .PageFooter{
        position: relative;
    }
}
@media only screen and (max-width: 992px){
    .terms-and-service {
        
        .terms-and-service-content{
            position: relative;
            top:30px;
            .inner-text{
                width: 83.33333%;
            }
        }
    }
}


@media only screen and (max-width: 768px){
    .terms-and-service .terms-and-service-content{
        .inner-text{
            width: 83.33333%;
        }
    }
}

@media only screen and (max-width: 1199px){
    .terms-and-service .AppHeader{ 
        .Content{
            .Logo{
                width: fit-content;
            }
            .SearchBox{
                width: 87%;
                .InputContainer{
                    width: 100%;
                }
            }
        }
        .SmallScreenHeader .content .ToggleCategoryList{
            display: none;
        }
    }
}
