.App {
  text-align: center;
  margin-top: 20px;
  overflow-x: hidden;
  .common-heading{
   
    font-size: 30px;
    color: #21366e;
    font-family: 'Gilroy', sans-serif;
    font-weight: bold;
    overflow-x: hidden;
  }
}

